body {
  background-color: #292929;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 4px dashed black;
  border-radius: 15px;
  background-color: white;
}

#header, #footer {
  background-color: #B84026;
  width: 300px;
  height: 100px;
  flex: 1 100%;
  border-radius: 10px;
  text-align: center;
}

/* Creates boxes for content divs */
.box {
  width: 300px;
  height: 200px;
  background-color: #d3d3d3;
  border: 2px solid black;
  margin: 25px;
}

/* For "first" row of content */
#b1 {
  flex: 1 100%;
}

/* For "second" row of content */
#b2, #b3 {
  flex: 1 45%;
}

/* For "third" row of content */
#b4, #b5, #b6 {
  flex: 1 28%;
}

/* For "fourth" row of content */
#b7, #b8, #b9, #b0 {
  flex: 1 18%;
}

@media all and (max-width: 750px) {

  /* Changes elements for transition to row > column when at max-width:750px */

  #container > div {
    flex-direction: column;
  }

  #header, #footer {
    flex: 1 100%;
    overflow: auto;
  }

  #b1 {
    flex: 1 53%;
  }
}

#header ul li {
  display: inline-block;
  text-decoration: none;
}

ul {
  background-color: #292929;
  padding: 10px;
}

/* Decorates nav bar */
#header > ul > li > a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px;
  background-color:
}

/* Hover elements in "nav bar" change to black background */
#header > ul > li > a:hover {
  background-color: black;
  padding: 10px;
}

#header > ul > li > a[href="#"] {
  background-color: green;
  padding: 10px;
}

#footer > p > a {
  color: white;
  text-decoration: none;
}

.addr-text {
  float: left;
}

div.addr-text {
  text-align: left;
  margin: auto 10px;
}

div > img {
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
}

#b7, #b8, #b9, #b0 > img {
  width: 70px;
  height: 70px;
  margin: 3px;
}
